In [36]:
#number of requests recieved 
N = int(input())

#starting date array
S=[]

#length of event (in days) array
D=[]

# taking inputs from user
for i in range(0,N):
        
    (a,b) = [ int(x) for x in input().split() ] 
    
    S.append(a)
    D.append(b)

4
2 5
9 7
15 6
9 3

In [37]:
print(S)
print(D)

[2, 9, 15, 9]
[5, 7, 6, 3]

In [2]:
#finding finish date of each booking/request

finish_date = [ (S[i]+ D[i]-1) for i in range(0,N) ]

finish_date

[51414,
 82840,
 4302,
 6128,
 25107,
 91516,
 5963,
 66224,
 34020,
 80173,
 93707,
 81337,
 82399,
 65712,
 22001,
 95780,
 28758,
 23265,
 48730,
 1404]

In [3]:
tup = list ( zip ( S,D,finish_date) )
tup

[(51292, 123, 51414),
 (82060, 781, 82840),
 (4014, 289, 4302),
 (5471, 658, 6128),
 (24984, 124, 25107),
 (91152, 365, 91516),
 (5097, 867, 5963),
 (66146, 79, 66224),
 (33650, 371, 34020),
 (79414, 760, 80173),
 (93160, 548, 93707),
 (80928, 410, 81337),
 (81547, 853, 82399),
 (65682, 31, 65712),
 (21133, 869, 22001),
 (95357, 424, 95780),
 (28343, 416, 28758),
 (22557, 709, 23265),
 (48704, 27, 48730),
 (1366, 39, 1404)]

In [4]:
def takeSecond(elem):
    return elem[2]

# sort list with key
sortedList = sorted(tup, key=takeSecond)
sortedList

[(1366, 39, 1404),
 (4014, 289, 4302),
 (5097, 867, 5963),
 (5471, 658, 6128),
 (21133, 869, 22001),
 (22557, 709, 23265),
 (24984, 124, 25107),
 (28343, 416, 28758),
 (33650, 371, 34020),
 (48704, 27, 48730),
 (51292, 123, 51414),
 (65682, 31, 65712),
 (66146, 79, 66224),
 (79414, 760, 80173),
 (80928, 410, 81337),
 (81547, 853, 82399),
 (82060, 781, 82840),
 (91152, 365, 91516),
 (93160, 548, 93707),
 (95357, 424, 95780)]

In [5]:
#ST : denotes starting time

#FT : denotes finishing time 

ST = []
FT = []

for i in range(0,N):
    
    ST.append( sortedList[i][0] )
    FT.append( sortedList[i][2] )
    
print(ST)
print(FT)

[1366, 4014, 5097, 5471, 21133, 22557, 24984, 28343, 33650, 48704, 51292, 65682, 66146, 79414, 80928, 81547, 82060, 91152, 93160, 95357]
[1404, 4302, 5963, 6128, 22001, 23265, 25107, 28758, 34020, 48730, 51414, 65712, 66224, 80173, 81337, 82399, 82840, 91516, 93707, 95780]

In [9]:
#initializing a count variable
count= 1

# we will always count the first booking with minimum finishing time
j= 0

# finding the start, end date and the count of number of booking which can be accepted by the manager

for k in range(j,N):
    
    if ST[k] > FT[j]:
        
        count = count+1
        
        print('start date =', ST[k], '; end date=', FT[k], 'and count till now is' , count )
        print('\n')
        
        # we will now pick up remaining bookings whose starting time is greater than ST[k].. hence we assign j=k..
        # so that we scan post k,k+1,k+2.... N bookings... no point at looking at bookings whose starting point is 
        # lesser than FT[j]
        
        j=k

print(count)

start date = 4014 ; end date= 4302 and count till now is 2


start date = 5097 ; end date= 5963 and count till now is 3


start date = 21133 ; end date= 22001 and count till now is 4


start date = 22557 ; end date= 23265 and count till now is 5


start date = 24984 ; end date= 25107 and count till now is 6


start date = 28343 ; end date= 28758 and count till now is 7


start date = 33650 ; end date= 34020 and count till now is 8


start date = 48704 ; end date= 48730 and count till now is 9


start date = 51292 ; end date= 51414 and count till now is 10


start date = 65682 ; end date= 65712 and count till now is 11


start date = 66146 ; end date= 66224 and count till now is 12


start date = 79414 ; end date= 80173 and count till now is 13


start date = 80928 ; end date= 81337 and count till now is 14


start date = 81547 ; end date= 82399 and count till now is 15


start date = 91152 ; end date= 91516 and count till now is 16


start date = 93160 ; end date= 93707 and count till now is 17


start date = 95357 ; end date= 95780 and count till now is 18

18